<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@8.0.0/dist/material-components-web.min.js"></script>
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
                <span class="mdc-top-app-bar__title">Links to Markdown Converter</span>
            </section>
        </div>
    </header>

    <main class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer class="mdc-top-app-bar--fixed-adjust">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-12">
                <p>&copy; {% now "Y" %} Links to Markdown Converter. All rights reserved.</p>
            </div>
        </div>
    </footer>

    <script>
        document.addEventListener('keydown', function(event) {
            if (event.ctrlKey && event.key === 'Enter') {
                var activeElement = document.activeElement;
                if (activeElement.tagName.toLowerCase() === 'textarea') {
                    var form = activeElement.closest('form');
                    if (form) {
                        form.submit();
                    }
                }
            }
        });
        mdc.autoInit();
    </script>
</body>
</html>
